<div class="container">
  <!-- Head of Table can go here-->
  <% @pokemons.each do |pokemon| %>
    <div class="row">
      <div class = "col-xs-2">
        <%= pokemon.number.to_s.rjust(3,'0') %>
      </div>
      <div class = "col-xs-2">
        <%= image_tag pokemon.number.to_s.rjust(3,'0') + ".png" %>
      </div>
      <div class = "col-xs-4">
        <%= pokemon.name %>
      </div>
    </div>
  <% end %>
</div>


<br>
