<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/">
</head>
<body>


  <div id= "main-container" class= "container">
    <div class="col-xs-5">
      <h1>Pokedex</h1>
      <div class = "container">
        <div class = "col-xs-12">
          <br>
          <!--BEGIN LEFT PANEL  -->
          <div class = "container">
            <div id = "ajaxImg" class = "row col-xs-12 lgImgHolder">
              <!-- TODO Stick AJAX image here -->

            </div>

            <div class = "row col-xs-12 progressHolder">
              <div class="progress">
                <div id = "hp" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
              <div class="progress">
                <div id = "atk" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
              <div  class="progress">
                <div id = "def" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">60% Complete (warning)</span>
                </div>
              </div>
              <div  class="progress">
                <div id = "spatk" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
              <div  class="progress">
                <div id = "spdef" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
              <div  class="progress">
                <div id = "spe" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="data" dropdownMenu1-toggle="dropdown" aria-expanded="true">
                Select Gen
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">                  
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen1</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen2</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen3</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen4</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen5</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gen6</a></li>
                </ul>
              </div>
            </div>

          </div>
          <!-- END LEFT PANEL  -->
        </div>
      </div>
    </div>

    <div id= "poketable" class = "col-xs-7">
      <%= yield %>
    </div>
  </div>

</body>
</html>
